#footer--wrapper {
  border-top: 1px solid white;
  background: #32251f;
  display: flex;
  justify-content: center;
  height: 95px;
}
#footer {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: #a68a7d;
  width: 1002px;
  text-align: left;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
#footer p {
  color: #a68a7d;
  font-size: 11px;
}
#footer__logo {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100%;
  background: #291e18;
  width: 348px;
  text-align: center;
  width: 35%;
  border-right: 1px solid #48362d;
}
#footer__logo a {
  flex: 1;
}

#footer__logo__image {
  width: fit-content;
  height: fit-content;
}
#footer__content--wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#footer strong a,
#footer p a {
  color: white;
  font-weight: lighter;
  font-size: 11px;
  line-height: 25px;
  font-family: 'Arial';
}
#footer__info {
  float: right;
  margin-left: 45px;
}
@media only screen and (max-width: 600px) {
  #footer__logo {
    display: none;
  }
}
