#main__primary-content__portfolios {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
}
#main__primary-content__whatWeDo {
  padding: 40px 0 20px 0;
  margin: 0;
  font-size: 41px;
  line-height: 34px;
  color: #2f231e;
  font-family: 'UTM Duepuntozero';
  border-bottom: 1px solid #cec5c0;
}

#main {
  background-color: var(--main-color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 36px 100px 347px;
  overflow: hidden;
  border-left: 1px solid white;
  border-right: 1px solid white;
  /* display: flex;
  flex-direction: row; */
}
#main__primary-content {
  float: left;
  width: 334px;
  margin: 0;
}

#main__secondary-content {
  margin-top: 30px;
  float: right;
  width: 249px;
  position: relative;
}

.whatWeDo__title {
  font-size: 30px;
  line-height: 34px;
  color: #745459;
  font-family: 'UTM Duepuntozero';
  margin: 0;
}
.whatWeDo__content {
  font-size: 13px;
  line-height: 20px;
  color: #645a56;
  font-family: 'Arial';
}

#first {
  background-image: url('../images/icons/webdev.png');
  background-repeat: no-repeat;
  padding-left: 45px; /* width of the image plus a little extra padding */
  display: block; /* may not need this, but I've found I do */
}
#second {
  background-image: url('../images/icons/graphics.png');
  background-repeat: no-repeat;
  padding-left: 45px; /* width of the image plus a little extra padding */
  display: block; /* may not need this, but I've found I do */
}
#third {
  background-image: url('../images/icons/ud.png');
  background-repeat: no-repeat;
  padding-left: 45px; /* width of the image plus a little extra padding */
  display: block; /* may not need this, but I've found I do */
}

blockquote {
  margin: 0;
  background: #e6e2df;
  color: #7f6357;
  padding: 23px;
  font: italic 20px/27px georgia;
}
blockquote p {
  font-size: 20px;
  margin-bottom: 1em;
  color: #7f6357;
  font-family: georgia;
}

#main__recent-work {
  clear: both;
  position: relative;
  border-top: 1px solid #cec5c0;
}
#main__recent-work__title {
  border: none;
  margin: 0;
  padding: 25px;
  font-family: 'UTM Duepuntozero';
  font-size: 41px;
  line-height: 34px;
  color: #2f231e;
}
#main__recent-work ol {
  position: absolute;
  right: 0;
  top: 45px;
}

#main__recent-work__description {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #4e4d4d;
  margin-top: 10px;
}

#main__recent-work ol {
  top: 0;
}
#main__recent-work ol li {
  width: 16px;
  height: 16px;
  display: inline;
}
#main__recent-work ol li a {
  color: white;
  background: #6c535a;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Helvetica';
  -moz-border-radius: 100px;
  -webkit-border-radius: 13px;
}
#main__recent-work ol li.chosen a,
#main__recent-work ol li a:hover {
  background: #a37a7e;
}
#main__recent-work ol li a:hover {
  text-decoration: none;
}

.main__recent-work__image-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 11px;
  border: 1px solid #d6cec9;
  background: white;
}
#main__recent-work__image {
  border: 1px solid #d6cec9;
  height: 100%;
  width: 100%;
}

#main__secondary-content__arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 30px solid #e3e3e3;
  border-left: 30px solid #f7f5f4;
  border-right: 0px solid #f7f5f4;
  position: absolute;
  right: 30px;
}

#main__secondary-content__author {
  font: bold normal 15px arial;
  color: #2f231e;
  float: right;
  padding-right: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  font-weight: bold;
}
#main__secondary-content__author span {
  font-size: 10px;
  line-height: 10px;
  display: block;
  color: #89451f;
}
#recent-work__image {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  #main__recent-work__description {
    text-align: center;
  }
  #main__recent-work__title {
    font-size: 30px;
    padding: 5px 10px;
  }
}
