* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

@font-face {
  font-family: 'UTM Duepuntozero';
  font-style: normal;
  font-weight: normal;
  src: local('UTM Duepuntozero'),
    url('./fonts/UTM_Duepuntozero.woff') format('woff');
}
/*
#3B2C25 #251B17 #30241F #EEEBE9 #F7F5F4 #EBE7E4
*/
:root {
  --text: #745459;
  --dark-brown: #251b17;
  --medium-brown: #3b2c25;
  --white: #e1dedb;
  --light-brown: #5e463c;
  --color-1: #251b17;
  --color-2: #30241f;
  --color-2: #eeebe9;
  --main-color: #f7f5f4;
}
#container {
  width: 100%;
  margin: auto;
  text-align: left;
}
.navContainer {
  background: var(--dark-brown);
  border-bottom: 1px solid #a68a7d;
  display: flex;
  justify-content: center;
  margin: 0;
}
#nav {
  /* flex-shrink: 0; */
  transform: translateX(250px);
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  margin: 0;
  padding: 10px;
  text-align: right;
  color: var(--white);
  justify-content: space-evenly;
  align-items: center;
}
#nav li {
  font-size: 11px;
  font-family: arial;
  text-align: center;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
}
#nav li a {
  color: #c7b18d;
}

#primaryContent {
  width: 350px;
  margin: 0 auto;
}
#primaryContent ul {
  list-style-type: none;
}
#primaryContent h2 {
  margin: 0;
  font-size: 41px;
  line-height: 34px;
  color: #2f231e;
  font-family: 'UTM Duepuntozero';
}

a {
  text-decoration: none;
  color: inherit;
}

/* a:hover {
  text-decoration: underline;
} */

#header {
  border-left: 1px solid var(--light-brown);
  border-right: 1px solid var(--light-brown);
  background: var(--light-brown);
  margin: 0;
}

#slogan {
  height: 168px; /* Not typically a good idea to set
    heights. In this case, it’s necessary. */
  clear: both;
  background: var(--medium-brown);
  margin: auto;
  max-width: 1000px;
  border-left: 1px solid #a68a7d;
  border-right: 1px solid #a68a7d;
}
#slogan h1 {
  background: url(./images/logo.png) no-repeat;
  background-size: contain;
  width: 124px;
  height: 67px;
  margin: 0 0 0 165px;
  position: relative;
  text-indent: -9999px;
  top: 50px;
}

#slogan h1 a {
  display: block;
  width: 124px;
  height: 67px;
}

#main {
  background-color: var(--main-color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 36px 100px 347px;
  overflow: hidden;
  border-left: 1px solid white;
  border-right: 1px solid white;
  /* display: flex;
  flex-direction: row; */
}
#main #primaryContent {
  float: left;
  width: 334px;
}
#main div#secondaryContent {
  margin-top: 30px;
  float: right;
  width: 249px;
  position: relative;
}

.whatWeDo__title {
  font-size: 30px;
  line-height: 34px;
  color: #745459;
  font-family: 'UTM Duepuntozero';
}
.whatWeDo__content {
  font-size: 30px;
  line-height: 34px;
  color: #745459;
  font-family: 'UTM Duepuntozero';
}
blockquote {
  margin: 0;
  background: #e6e2df;
  color: #7f6357;
  padding: 23px;
  font: italic 20px/27px georgia;
}
blockquote p {
  font-size: 20px;
  margin-bottom: 1em;
  color: #7f6357;
  font-family: georgia;
}
#secondaryContent cite {
  font: bold normal 15px arial;
  color: #2f231e;
  float: right;
  padding-right: 20px;
  padding-top: 35px;
  font-weight: bold;
}
#secondaryContent cite span {
  font-size: 10px;
  line-height: 10px;
  display: block;
  color: #89451f;
}
#slogan img {
  position: absolute;
  top: -37px;
  left: -40px;
}
#slogan p {
  margin: -27px 200px 0 319px;
  padding: 5px 0 5px 27px;
  font-size: 18px;
  color: #a68a7d;
  border-left: 1px solid #4f3b33;
}
#slogan a {
  color: white;
}

.light {
  font-size: 68px;
  line-height: 55px;
  color: #ffffff;
  font-family: 'UTM Duepuntozero';
  border: 1px solid #f7f5f4;
}
.light2 {
  font-size: 36px;
  line-height: 29px;
  color: #ffffff;
  font-family: 'UTM Duepuntozero';
  border: 1px solid #f7f5f4;
}

.box {
  font-size: 18px;
  line-height: 15px;
  color: #fae1b3;
  font-weight: bold;
  font-family: 'Duepuntozerobold';
}
.box2 {
  font-size: 15px;
  line-height: 11px;
  color: #fae1b3;
  font-weight: bold;
  font-family: 'Duepuntozerobold';
}
.hi-we-are {
  font-size: 18px;
  line-height: 25px;
  color: #a68a7d;
  font-family: 'Helvetica';
}

.web-dev {
  font-size: 30px;
  line-height: 34px;
  color: #745459;
  font-family: 'UTM Duepuntozero';
}

.blockq {
  width: 200px;
  height: 407px;
  font-size: 20px;
  line-height: 27px;
  color: #7f6357;
  font-style: italic;
  font-family: 'Georgia';
}

.t1234 {
  background-color: #6c535a;
}

.dummy-text {
  width: 265px;
  height: 197px;
  font-size: 13px;
  line-height: 20px;
  color: #645a56;
  font-family: 'Arial';
}

.what-we-do {
  font-size: 41px;
  line-height: 34px;
  color: #2f231e;
  font-family: 'UTM Duepuntozero';
}

#footerWrap {
  border-top: 1px solid white;
  background: #32251f;
}
#footer {
  overflow: hidden;

  color: #a68a7d;
  width: 1002px;
  margin: auto;
  text-align: left;
  padding-top: 35px;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
#footer p {
  color: #a68a7d;
  font-size: 11px;
}
#footer #footerLogo {
  float: left;
  background: #291e18;
  width: 348px;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 3em;
  margin-right: 32px;
  margin-top: -35px;
  border-right: 1px solid #48362d;
}
#footer strong a,
#footer p a {
  color: white;
  font-weight: bold;
}
#footer p#footerInfo {
  float: right;

  padding-right: 45px;
  margin-top: -17px;
}
